@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: url('https://img5.goodfon.com/wallpaper/nbig/e/99/gory-mountains-nochnye-gory-rassvet-solntse-sun-rozovoe-soln.jpg');
	background-size: cover;
	background-position: top center;
}
